:root {
  --color-blue: #3c77a0;
  --color-blue-hover: skyblue;
}
.site_header__id_inner h2{
  margin: 0;
  padding-left: 15px;
  font-weight: 700;
  font-size: 2.5rem;
}
.site_header__id_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
}
.site_header.-scrolled .site_header__id_inner h2{
  display: none;
}
.top_info  {
  margin-bottom: 120px;
}
.top_about .contact_cv__footer {
  margin-top: 30px;
}
.contact_cv__phone__openhour {
  padding-left: 5px;
}
body.top .top_recruit__body{
  padding: 10px;
  height: 400px;
}
.site_footer__list p {
  padding: 0 20px;
}
.site_footer__list h2 {
  font-weight: 700;
}
@media (min-width: 800px) {
  .site_header__id__label {
    padding-left: 15px;
  }
  .site_header__id__default {
    height: 80px;
    width: auto;
  }
  .site_header__id__scrolled {
    height: 40px;
    width: auto;
  }
  .global_nav__list__item.-current::after {
    opacity: 1;
}
}
@media (max-width: 767px) {
  .site_header.-scrolled .site_header__id_inner h2 {
    display: block;
  }
  .global_nav__list__item_case .global_nav__child_list__item:last-child a{
    height: 45px;
  }
  .global_nav__list__item_case .global_nav__child_list__item:last-child .link_case__label {
    font-size: 1.4rem;
  }
  .top_product__body .tab__body {
    display: none;
  }
  .site_header__id_inner {
    height: 45px;
  }
  .site_header__id_inner h2{
    font-size: 2%;
  }
  .global_nav__link__sitemap {
    left: unset;
    right: 0;
  }
  .global_nav__link__item {
    padding-top: 0;
  }
  .icon-pdf {
    background: #fff;
  }
  body.top .top_visual__content__lead {
    text-align: center;
  }
  body.top .top_info {
    margin-bottom: 40px;
  }
  .top_company__body .col_sm_6:last-child {
    display: none;
  }
  body.top .top_about__desc {
    text-align: center;
  }
}