@font-face {
    font-family: 'Arial';
    src: url("../fonts/arial.ttf")/*tpa=http://www.gp-best.com/Public/Home/default/fonts/arial.ttf*/ format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BEBAS';
    src: url("../fonts/BEBAS.TTF")/*tpa=http://www.gp-best.com/Public/Home/default/fonts/BEBAS.TTF*/ format('truetype');
    font-weight: normal;
    font-style: normal;
}