@font-face {
  font-family: "CmsFont";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CmsFont.woff2?2019") format("woff2"),
    url("../fonts/CmsFont.woff?2019") format("woff");
}
.icon {
  font-family: "CmsFont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before {
  content: "";
}
.icon-google-plus-g:before {
  content: "";
}
.icon-linkedin-in:before {
  content: "";
}
.icon-youtube:before {
  content: "";
}
.icon-instagram:before {
  content: "";
}
.icon-tumblr:before {
  content: "";
}
.icon-skype:before {
  content: "";
}
.icon-weibo:before {
  content: "";
}
.icon-qq:before {
  content: "";
}
.icon-weixin:before {
  content: "";
}
.icon-cc-visa:before {
  content: "";
}
.icon-cc-paypal:before {
  content: "";
}
.icon-pinterest-p:before {
  content: "";
}
.icon-whatsapp:before {
  content: "";
}
.icon-facebook-f:before {
  content: "";
}
.icon-alipay:before {
  content: "";
}
.icon-search:before {
  content: "";
}
.icon-heart:before {
  content: "";
}
.icon-star:before {
  content: "";
}
.icon-user:before {
  content: "";
}
.icon-check:before {
  content: "";
}
.icon-times:before {
  content: "";
}
.icon-qrcode:before {
  content: "";
}
.icon-barcode:before {
  content: "";
}
.icon-tags:before {
  content: "";
}
.icon-print:before {
  content: "";
}
.icon-edit:before {
  content: "";
}
.icon-chevron-left:before {
  content: "";
}
.icon-chevron-right:before {
  content: "";
}
.icon-plus-circle:before {
  content: "";
}
.icon-minus-circle:before {
  content: "";
}
.icon-times-circle:before {
  content: "";
}
.icon-check-circle:before {
  content: "";
}
.icon-question-circle:before {
  content: "";
}
.icon-info-circle:before {
  content: "";
}
.icon-arrow-left:before {
  content: "";
}
.icon-arrow-right:before {
  content: "";
}
.icon-arrow-up:before {
  content: "";
}
.icon-arrow-down:before {
  content: "";
}
.icon-plus:before {
  content: "";
}
.icon-minus:before {
  content: "";
}
.icon-calendar-alt:before {
  content: "";
}
.icon-comment:before {
  content: "";
}
.icon-chevron-up:before {
  content: "";
}
.icon-chevron-down:before {
  content: "";
}
.icon-shopping-cart:before {
  content: "";
}
.icon-trophy:before {
  content: "";
}
.icon-phone-square:before {
  content: "";
}
.icon-arrow-circle-left:before {
  content: "";
}
.icon-arrow-circle-right:before {
  content: "";
}
.icon-arrow-circle-up:before {
  content: "";
}
.icon-arrow-circle-down:before {
  content: "";
}
.icon-globe:before {
  content: "";
}
.icon-bars:before {
  content: "";
}
.icon-table:before {
  content: "";
}
.icon-sort:before {
  content: "";
}
.icon-envelope:before {
  content: "";
}
.icon-angle-left:before {
  content: "";
}
.icon-angle-right:before {
  content: "";
}
.icon-angle-up:before {
  content: "";
}
.icon-angle-down:before {
  content: "";
}
.icon-quote-left:before {
  content: "";
}
.icon-quote-right:before {
  content: "";
}
.icon-file-pdf:before {
  content: "";
}
.icon-file-word:before {
  content: "";
}
.icon-file-excel:before {
  content: "";
}
.icon-file-powerpoint:before {
  content: "";
}
.icon-file-image:before {
  content: "";
}
.icon-file-archive:before {
  content: "";
}
.icon-file-audio:before {
  content: "";
}
.icon-file-video:before {
  content: "";
}
.icon-share:before {
  content: "";
}
.icon-chevron-double-down:before {
  content: "";
}
.icon-chevron-double-left:before {
  content: "";
}
.icon-chevron-double-right:before {
  content: "";
}
.icon-chevron-double-up:before {
  content: "";
}
.icon-cloud-download-alt:before {
  content: "";
}
.icon-cloud-upload-alt:before {
  content: "";
}
.icon-map-marker-alt:before {
  content: "";
}
.icon-mobile-alt:before {
  content: "";
}
.icon-mobile-android:before {
  content: "";
}
.icon-barcode-alt:before {
  content: "";
}
.icon-barcode-read:before {
  content: "";
}
.icon-comment-alt-lines:before {
  content: "";
}
.icon-comment-dots:before {
  content: "";
}
.icon-truck-container:before {
  content: "";
}
.icon-user-edit:before {
  content: "";
}
.icon-award:before {
  content: "";
}
.icon-globe-asia:before {
  content: "";
}
.icon-map-marker-plus:before {
  content: "";
}
.icon-phone-office:before {
  content: "";
}
.icon-home:before {
  content: "";
}
.icon-phone:before {
  content: "";
}
.icon-search-alt:before {
  content: "";
}
.icon-heart-alt:before {
  content: "";
}
.icon-star-alt:before {
  content: "";
}
.icon-home-alt:before {
  content: "";
}
.icon-print-alt:before {
  content: "";
}
.icon-share-alt:before {
  content: "";
}
.icon-user-circle:before {
  content: "";
}
.icon-user-alt:before {
  content: "";
}
.icon-phone-alt:before {
  content: "";
}
